  {{/*
      ## Video mp4 AVC

      ### Params:
  
      - `src`
  
        required param
        you can extract from video url
        url format "https://cdn.jsdelivr.net/gh/ayuayue/cdn/img/picgo-typora-1.mp4"
  
      ### Examples:
  
      - Simple

    {{< video src="https://cdn.jsdelivr.net/gh/ayuayue/cdn/img/picgo-typora-1.mp4" >}}
  
  */}}

<iframe src="{{ .Get "src" }}"
    scrolling="no" height="485px" width="930px" frameborder="no" framespacing="0" allowfullscreen="true">
</iframe>